<!DOCTYPE html>
<html>
  <head>
    <title>즈므즈므</title>
  </head>
  <body>
    <div class="login-wrapper">
      <h1>Welcome To ZMZM HOUSE</h1>
      
        <!-- <h2>Login</h2>
        <form method="post" action="/" id="login-form">
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form> -->
    </div>
</body>

<!-- <body>
    <h1 id="title">디렉토리 GUI</h1>
    <button id="FirstBtn">버튼</button>
</body>


<script>
    const title=document.getElementById('title');
    const btn = document.getElementById('FirstBtn');

    btn.addEventListener('click', async () => { // 삭제 실행버튼
            const response=await fetch(`/dir/test`, {method: "POST"});
            const result = await response.text();
            
            console.log(result)
            title.textContent=result;

    });
  </script> -->
</html>
