<!DOCTYPE html>
<html>
  <head>
    <title>즈므즈므</title>
  </head>
  <body>
    <div class="login-wrapper">
      <h1>Welcome To ZMZM HOUSE</h1>
      <button id="Loginbutton">로그인</button>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const button = document.getElementById("Loginbutton");
      button.addEventListener("click", async function () {
        const response = await fetch("/login");
        window.location.href = "/login";
        console.log("Response from /login:", data);
      });
    });
  </script>
</html>
