<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
  </head>
  <body>
    <div class="login-wrapper">
      <h1>회원가입</h1>
    </div>
    <label for="user_id">아이디</label>
    <input id="user_id" name="user_id" type="text" />
    <br />
    <label for="user_password">비밀번호</label>
    <input id="user_password" type="password" />
    <br />
    <label for="user_password">비밀번호 확인</label>
    <input id="check_user_password" type="password" />
    <br />
    <label for="user_email">이메일</label>
    <input id="user_email" type="text" />
    <br />
    <button id="login-user-button">가입하기</button>
  </body>
</html>