<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
  <div class="login-wrapper">
    <h1>로그인</h1>
  </div>
  <label for="user_id">아이디</label>
  <input id="user_id" name="user_id" type="text" />
  <br />
  <label for="user_password">비밀번호</label>
  <input id="user_password" type="password" />
  <br />
  <button id="login-user-button">로그인</button>
  <button id="join-button">회원가입</button>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("join-button");
    button.addEventListener("click", async function () {
      const response = await fetch("/join");
      window.location.href = "/join";
      console.log("Response from /join:", data);
    });
  });
</script>
</html>

<!-- <h2>Login</h2>
        onClick="location.href='PAGENAME.html'"
        <form method="post" action="/" id="login-form">
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form> -->
