<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/index.css') }}">
  <title>즈므즈므</title>
</head>
<body>
  <div class="logo-wrapper">
    <button class="logo-button" id="logo-button">ㅈㅁㅈㅁ</button>
  </div>
  <div class="login-wrapper">
    <button class="login-button" id="Login-button">로그인</button>
  </div>
  <div class="menu-wrapper">
  <form>
    <button id="">즈므즈므</button>
    <button id="">예약</button>
    <button id="">커뮤니티</button>
    <button id="">오시는길</button>
  </form>
  </div>
  <div class="intro-wrapper">
    강원도 강릉 사천해변 <br/>
    즈므즈므에 오신걸 환영합니다.
  </div>
  <div class="info-wrapper">
    사업자 정보
  </div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("Login-button");
    button.addEventListener("click", async function () {
      const response = await fetch("/login");
      window.location.href = "/login";
      console.log("Response from /login:", data);
    });
  });
</script>
</html>